.bg{
    background: url('../images/bg.jpg') 100% no-repeat;
}
.sel{
    color: red;
}

.IMG{
    display: block;
    margin:2px;
    height: 36px;
    width: 36px;
    border-radius: 2px;
      
}
.actives{
    background:#CED1D4;
    pointer-events: none;
}