@font-face {
    font-family: 'iconfont';  /* project id 1597804 */
    src: url('//at.alicdn.com/t/font_1597804_rths3edirvb.eot');
    src: url('//at.alicdn.com/t/font_1597804_rths3edirvb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1597804_rths3edirvb.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1597804_rths3edirvb.woff') format('woff'),
    url('//at.alicdn.com/t/font_1597804_rths3edirvb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1597804_rths3edirvb.svg#iconfont') format('svg');
  }

  .iconfont{
    font-family:"iconfont" !important;
    font-size:32px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  
}
.iconfont.active{
    color:green;
}
.iconfont.search{
    font-size: 12px;
    height: 25px;
    width: 24px;
}


*{
    box-sizing: border-box;
}